* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: 100;
}

header {
  background-color: #242424;
}
header .bg-navbar .container-fluid .navbar-logo img {
  width: 30%;
}
header .bg-navbar .container-fluid .nav-menu .navbar-nav {
  margin: 0px 20px;
  gap: 15px;
}

/* CUERPO PRINCIPAL*/
main {
  text-align: center;
}
main .box-one .texto {
  margin: 40px 10px;
  background-color: #242424;
  color: whitesmoke;
  padding: 15px;
  border-radius: 3px;
}
main .box-one .texto h1 {
  color: #A1EF00;
}
main .box-one .grid-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 30%);
  margin: 0px 20px;
  height: 90vh;
}
main .box-one .grid-img div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}
main .box-one .grid-img .img-uno {
  grid-column: 1;
  grid-row: span 3;
}
main .box-one .grid-img .img-tres {
  grid-row: span 2;
}
main .links-pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  gap: 40px;
  margin: 40px 0px;
}
main .links-pages div {
  display: flex;
  width: 95%;
  margin: 5px 5px;
  border-radius: 5px;
  background-color: #242424;
  color: whitesmoke;
  font-size: 12px;
  text-align: center;
  align-items: center;
}

.links-pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  gap: 40px;
  margin: 40px 0px;
}
.links-pages div {
  display: flex;
  width: 95%;
  margin: 5px 5px;
  border-radius: 5px;
  background-color: #242424;
  color: whitesmoke;
  font-size: 12px;
  text-align: center;
  align-items: center;
}
.links-pages div h2 {
  font-size: 14px;
}
.links-pages div img {
  border-radius: 5px;
  margin: 5px 5px;
  width: 95%;
}
.links-pages .container-links .link-text {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}
.links-pages .container-links .link-text a {
  text-decoration: none;
  color: whitesmoke;
  width: 60%;
  padding: 12px;
}
.links-pages .container-links .link-text a:hover {
  background-color: #A1EF00;
  color: #242424;
  border-radius: 15px;
}

/* PIE DE PAGINA*/
footer {
  background-color: #242424;
  color: whitesmoke;
  text-align: center;
  height: 40vh;
}
footer h3 {
  padding: 10px;
  font-size: 10px;
}
footer div {
  padding: 10px;
  margin: 30px 15px;
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
  font-size: 13px;
}
footer div img {
  padding-top: 25px;
  width: 50%;
}
footer div a {
  width: 40%;
  text-decoration: none;
  color: #A1EF00;
}

/* PAGE GALERIA */
.galeria div h1 {
  margin: 20px 3px;
  background-color: #242424;
  color: #A1EF00;
  padding: 15px;
  border-radius: 2px;
}
.galeria .adidas .cuadro-uno img {
  border-radius: 2px;
  width: 95%;
  padding: 5px;
}
.galeria .adidas div h2 {
  margin: 20px 3px;
  background-color: #242424;
  color: #A1EF00;
  padding: 15px;
  border-radius: 2px;
}
.galeria .adidas .cuadro-dos {
  height: 130vh;
  margin: 0px 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 33%);
  gap: 5px;
}
.galeria .adidas .cuadro-dos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}
.galeria .adidas .cuadro-dos .dos-img-uno {
  grid-column: 1;
  grid-row: span 2;
}
.galeria .adidas .cuadro-dos .dos-img-cuatro {
  grid-column: span 2;
}
.galeria div h2 {
  margin: 20px 3px;
  background-color: #242424;
  color: #A1EF00;
  padding: 15px;
  border-radius: 2px;
}
.galeria .nike .cuadro-tres {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 33%);
  margin: 0px 10px;
  gap: 5px;
}
.galeria .nike .cuadro-tres img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}
.galeria .nike .cuadro-tres .tres-img-uno {
  grid-row: span 3;
}
.galeria .nike .cuadro-tres .tres-img-cuatro {
  grid-column: 2;
}
.galeria div h2 {
  margin: 20px 3px;
  background-color: #242424;
  color: #A1EF00;
  padding: 15px;
  border-radius: 2px;
}
.galeria .texto img {
  width: 95%;
  border-radius: 2px;
}

/* PAGE PROFESORES */
main .texto {
  margin: 20px 3px;
  background-color: #242424;
  color: whitesmoke;
  padding: 15px;
  border-radius: 2px;
}
main .texto h1 {
  color: #A1EF00;
}
main .cbum .card-profe {
  background-color: #242424;
  color: whitesmoke;
  padding: 5px;
  text-align: start;
}
main .cbum .card-profe img {
  margin: 5px 5px;
  width: 40%;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
main .cbum .card-profe h2 {
  color: #A1EF00;
  padding: 10px;
  text-align: center;
}
main .fotos-cbum {
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 50%);
  margin: 5px 5px;
  gap: 2px;
}
main .fotos-cbum img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .fotos-cbum .cbum-cuatro {
  grid-column: span 3;
}
main .canelo {
  margin: 25px 0px;
}
main .canelo .card-profe {
  background-color: #242424;
  color: whitesmoke;
  padding: 5px;
  text-align: start;
}
main .canelo .card-profe img {
  margin: 5px 5px;
  width: 40%;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
main .canelo .card-profe h2 {
  color: #A1EF00;
  padding: 10px;
  text-align: center;
}
main .fotos-canelo {
  margin: 5px 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 34%);
  gap: 2px;
}
main .fotos-canelo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .fotos-canelo .canelo-uno {
  grid-row: span 3;
}

/* PAGE RUTINA */
main .texto h1 {
  margin: 10px 0px;
  color: whitesmoke;
}
main .texto h2 {
  margin: 15px 0px;
  color: #A1EF00;
}
main .rutina-uno {
  margin: 20px 0px;
}
main .rutina-uno .texto {
  background-color: #242424;
  color: whitesmoke;
  margin: 20px 5px;
  border-radius: 2px;
  font-size: 13px;
  padding: 5px;
}
main .rutina-uno table tr {
  background-color: #242424;
  border: 0.5px solid #A1EF00;
  color: whitesmoke;
}
main .rutina-uno table tr td {
  background-color: #242424;
  border: 0.5px solid #A1EF00;
  color: whitesmoke;
}
main .rutina-dos .textos {
  background-color: #242424;
  color: whitesmoke;
  margin: 20px 5px;
  border-radius: 2px;
  font-size: 13px;
  padding: 5px;
}

/*# sourceMappingURL=styles.css.map */
