//SASS PRINCIPAL
//mobile first

//reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//body

body{
    background-color: rgb(255, 255, 255) ;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: 100;
}

//banner principal

header {
    background-color: #242424;
    .bg-navbar {
        .container-fluid{
            .nav-menu {
                .bg-navbar{ 
                     background-color: #242424;
                }
                .navbar-nav {
                    margin: 0px 20px;
                    gap: 15px;
                }
            }

            .navbar-logo{
                width: 70px;
                img{
                    width: 100%;
                }
            }
        }    
        
    }
}


/* CUERPO PRINCIPAL*/

main {
    text-align: center;
    .box-one{
        .texto{
            margin: 40px 10px;
            background-color: #242424;
            color: whitesmoke;
            padding: 15px;
            border-radius: 3px;

            h1 {
                color: #A1EF00;
            }
        }

        .grid-img {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 34%);
            margin: 0px 20px;
            height: 90vh;

            div {
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 2px;
                }
            }

            .img-uno{
                grid-column: 1;
                grid-row: span 3;
            }

            .img-tres{
                grid-row: span 2;
            }
            
            .img-cuatro {
                display: none;
            }

            .img-cinco {
                display: none;
            }
            .img-seis {
                display: none;
            }
        }

    }

    .links-pages{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 2px;
        gap: 40px;
        margin: 40px 0px;

        div{
            display: flex;
            width: 95%;
            margin: 5px 5px;
            border-radius: 5px;
            background-color: #242424;
            color: whitesmoke;
            font-size: 12px;
            text-align: center;
            align-items: center;

            .link-text {
                display: flex;
                flex-direction: column;
                margin-right: 15px;
                h2 {
                    font-size: 14px;
                }
                img {
                    border-radius: 5px;
                    margin: 5px 5px;
                    width: 95%;
                }

                a {
                    text-decoration: none;
                    color: whitesmoke;
                    width: 60%;
                    padding: 12px
                }

                a:hover {
                    background-color: #A1EF00;
                    color: #242424;
                    border-radius: 15px;
                }
            }
        }
    }
}

.links-pages{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    gap: 40px;
    margin: 40px 0px;
    
    div{
        display: flex;
        width: 95%;
        margin: 5px 5px;
        border-radius: 5px;
        background-color: #242424;
        color: whitesmoke;
        font-size: 12px;
        text-align: center;
        align-items: center; 

        h2{
            font-size: 14px;
        }

        img{
            border-radius: 5px;
            margin: 5px 5px;
            width: 95%;
        }
    }

    .container-links{
        .link-text{
            display: flex;
            flex-direction: column;
            margin-right: 15px;
            
            a {
                text-decoration: none;
                color: whitesmoke;
                width: 60%;
                padding: 12px
            }

            a:hover {
                background-color: #A1EF00;
                color: #242424;
                border-radius: 15px;
            }
        }
    }
        
}

/* PIE DE PAGINA*/

footer {
    background-color: #242424;
    color: whitesmoke;
    text-align: center;
    height: 40vh;

    h3 {
        padding: 10px;
        font-size: 10px;
    }

    div {
        padding: 10px;
        margin: 30px 15px;
        display: flex;
        justify-content: space-evenly;
        gap: 25px;
        font-size: 13px;

        img{
            padding-top: 25px;
            width: 50%;
        }

        a {
            width: 40%;
            text-decoration: none;
            color: #A1EF00;
        }
    }
}

//imports
@import "html/galeria";
@import "html/profesores";
@import "html/rutinas";
@import "html/contactos";

/* MQ tablets */

@media screen and (min-width:767px) {

    /* inicio */
    main {
        .box-one {
            .texto{
                font-size: 15px;

                h1 {
                    font-size:45px;
                }
            }

            .grid-img {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, 25%);
                margin: 0px 20px;
                height: 90vh;

                .img-tres {
                    grid-row: span 3;
                }

                .img-cuatro {
                    display: block;
                }
                
            }
        }

        .links-pages {
            div {
                display: flex;
                flex-direction: column;
                width: 70%;
                .link-img {
                    img {
                        width: 100%;
                        margin: 12px;
                    }
                }

                .link-text{
                    h2 {
                        font-size: 15px;
                        margin: 12px 0px;
                    }

                    a {
                        font-size: 15px;
                        margin: 30px 0px;
                    }
                }
            }
        }

        
    }

    footer {
        height: 25vh;
        div {
            a {
                img {
                    padding-top: 10px;
                    width: 25%;
                }
            }
        }

        div {
            a {
                padding: 5px 0px;
                font-size: 13px;
            }
        }

        h3 {
            font-size: 10px;
        }
    }

    /* indumentaria */

    .galeria {
        .adidas{
            .cuadro-uno {
                display: grid;
                grid-template-columns: repeat(2, 1fr) ;
                grid-template-rows: repeat(2, 50%);

                div {
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .cuadro-depaul {
                    display: block;
                }
            }

            .cuadro-dos {
                .dos-img-cinco {
                    display: none;
                }
            }
        }

        .nike {
            .texto {
                font-size: 15px;
            }

            img {
                width: 80%;
            }

        }
    }

    /* profesores */

    main {
        .cbum {
            .card-profe {
                align-items: center;
                width: 100%;
                img {
                    width: 24%;
                }
            }
        }

        .canelo {
            .card-profe {
                width: 100%;
                img {
                    width: 24%;
                }
            }

            .fotos-canelo {
                height: 80vh;
                margin: 5px 5px;
                display: grid;
                grid-template-columns: repeat(2, 1fr) ;
                grid-template-rows: repeat(3, 34%) ;
                gap: 2px;

                .canelo-uno {
                    grid-row: span 2;
                }

                .canelo-tres {
                    grid-row: span 2;
                }

            }
        }
    }

    /* rutinas */

    main {
        section {
            .rutina-uno {
                .texto {
                    font-size: 15px;
                }

                .tabla-uno {
                    table {
                        .dias {
                            td {
                                font-size: 30px;
                            }
                        }

                        tr {
                            td {
                                font-size: 22px;
                            }
                        }
                    }
                }
            }

            .rutina-dos {
                .tabla-dos {
                    table {
                        .dias {
                            td {
                                font-size: 30px;
                            }
                        }

                        tr {
                            td {
                                font-size: 22px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* contactos */
    .contactos {
        section{
            .redes {
                h1 {
                    padding-top: 25px;
                    font-size: 30px;
                }
                div {
                    display: flex;
                    .logo {
                        display: block;
                        a {
                            img {
                                padding: 15px;
                                width: 60%;
                            }
                        }
                    }
                }

            }
        }

        .inscripcion {
            .formulario {
                padding: 25px;
                h1 {
                    padding: 15px;
                    font-size: 30px;
                }
            }
        }
    }
}

/* MQ desktop */

@media screen and (min-width:1280px) {
    /* inicio */
    header {
        .bg-navbar{
            .container-fluid{
                .navbar-logo{
                    width: 5%;
                }
                .nav-menu {
                    margin-left: 320px;
                }
            }
        }
    }

    main {
        .box-one {
            display: flex;
            justify-content: center;
            align-items: center;
            
            .texto {
                width: 60%;
                font-size: 15px;
            }

            .grid-img {
                padding: 15px;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(3, 33%);
                margin: 0px 20px;
                height: 80vh;
                .img-uno {
                    grid-row: 2 / 4;
                }

                .img-dos {
                    grid-column: 1 / 3;
                }

                .img-tres {
                    grid-row: 2 / 4;
                }
                
                .img-cuatro {
                    grid-column: span 2;
                }

                .img-cinco {
                    display: block;
                    grid-row: 2 / 4;
                }
                .img-seis {
                    display: block;
                    grid-row: span 2;
                }
            }

        }

        .links-pages {
            display: flex;
            flex-direction: row;
            justify-content: center;
            div{ 
                width: 90%;
                .link-img {
                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    footer {
        height: 40vh;
        div {
            a {
                width: 5%;
                padding: 10px;
                img {
                    width: 85%;
                }
            }
        }
    }

    /* galeria */

    .galeria {
        .adidas {
            .cuadro-uno {
                display: flex;
            }

            .cuadro-dos {
                height: 80vh;
                display:grid;
                grid-template-columns: repeat(4, 1fr) ;
                grid-template-rows: repeat(2, 50%) ;

                .dos-img-dos {
                    grid-column: span 1;
                }
                .dos-img-cinco {
                    display: block;
                    grid-column: 4;
                    grid-row: 1 / 3;
                }
            }
        }
        .nike {
            .cuadro-tres {
                height: 80vh;
                display: grid;
                grid-template-columns: repeat(4, 1fr) ;
                grid-template-rows: repeat(2, 50%) ;

                .tres-img-uno {
                    grid-row: span 2;
                }
                .tres-img-dos {
                    grid-row: span 2;
                }
                .tres-img-tres {
                    grid-row: span 2;
                }
                .tres-img-cuatro {
                    grid-column: 4;
                    grid-row: span 2;
                }
            }

            .texto {
                display: flex;
                align-items: center;
                p {
                    padding: 15px;
                    font-size: 20px;
                }
            }
        }
    }

    /* profesores */ 

    main {
        .cbum {
            display: flex;
            justify-content: center;
            .card-profe {
                width: 35%;
                img {
                    margin: 15px;
                    width: 35%;
                }
            }
            .fotos-cbum {
                height: 67vh;
                display: grid;
                grid-template-columns: repeat(3, 1fr) ;
                grid-template-rows: repeat(2, 50%);
            }
        }

        .canelo {
           display: flex;
           justify-content: center;
           
           .card-profe {
            width: 35%;
            img {
                margin: 15px;
                width: 35%;
            }
           }

           .fotos-canelo {
                width: 80vh;
                display: grid;
                grid-template-columns: repeat(3, 1fr) ;
                grid-template-rows: repeat(2, 50%);
           }
            
        }
          
            
    }
    
    /* rutinas */

    main {
        .rutina-uno {
            .tabla-uno{
                table{
                    .dias{
                        td {
                           padding: 5px;
                        }
                    }
                    tr {
                        td {
                            padding: 10px;
                        }
                    }
                }
            }
        }

        .rutina-dos {
            .tabla-dos{
                table{
                    .dias{
                        td {
                           padding: 10px;
                        }
                    }
                    tr {
                        td {
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }

    /* contactos */

    .contactos {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 20px 0px;
        section {
            display: flex;
            
            .redes {
                width: 100%;
                height: 100%;
                h1 {
                    font-size: 20px;
                }
                div {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    .logo {
                        a {
                            img {
                                width: 15%;
                            }
                        }
                    }
                }
            }
        }

        .inscripcion {
            display: flex;
            .formulario {
                width: 100%;
                height: 100%;
                margin: 20px 0px;
                padding: 25px;
                border-radius: 2px;
                h1 {
                    font-size: 20px; 
                }
                form {
                    height: 90%;
                }
            }
        }
    }
}