/* PAGE CONTACTOS */

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    .contactos {
        display: flex;
        justify-content: center;
        .redes {
            color: #A1EF00;
            background-color:#242424 ;
            margin: 20px 0px;
            border-radius: 3px;
            width: 95%;
            box-shadow: 0 0 20px rgba(0 , 0, 0, 0.2);

            h1 {
                font-size: 25px;
            }
            
            div {
                margin: 20px 0px;
                a {
                    img {
                        width: 15%;
                    }
                }
            }
        }
    }

    .inscripcion {
        display: flex;
        justify-content: center;
        .formulario {
            width: 95%;
            align-content: center;
            background-color: #242424;
            color: #A1EF00;
            padding: 25px;
            box-shadow: 0 0 20px rgba(0 , 0, 0, 0.2);

            h1 {

            }
            
            form {     
                display: flex;
                justify-content: center;
                flex-direction: column;   
                .controles {      
                        padding: 8px;
                        border-radius: 20px;    
                        margin: 15px 0px;
                        background-color: #d4d4d4;                                   
                }

                .boton {
                    padding: 15px;
                    background-color: #A1EF00;                        
                    border-radius: 10px;
                    color: #242424;
                }
            }
        }
    }
}
