/* PAGE RUTINA */

main {
    .texto{
        h1{
        margin: 10px 0px;
        color: whitesmoke;
        }

        h2{
            margin: 15px 0px;
            color: #A1EF00;
        }
    }


    .rutina-uno {
        margin: 20px 0px;
        .texto{
            background-color: #242424;
            color: whitesmoke;
            margin: 20px 5px; 
            border-radius: 2px;
            font-size: 13px;
            padding: 5px;
        }
        .tabla-uno {
            display: flex;
            justify-content: center;
            table {  
                .dias {
                    border: 0.5px solid ;     
                    td {
                        background-color: #242424;
                        border: 0.5px solid #242424;
                        color: #A1EF00;
                        padding: 8px;
                        font-size: 13px;  
                    }
                }
                tr {
                    border: 0.5px solid ;  
                    td {
                        background-color: #242424;
                        border: 0.5px solid #242424;
                        color: whitesmoke;
                        padding: 8px;
                        font-size: 11px;     
                    }
                }
            }
                
        }

    }
    .rutina-dos{
        .textos{
            background-color: #242424;
            color: whitesmoke;
            margin: 20px 5px; 
            border-radius: 2px;
            font-size: 13px;
            padding: 5px;
        }
        .tabla-dos {
            display: flex;
            justify-content: center;
            table { 
                .dias {
                    border: 0.5px solid ;
                    
                    td {
                        background-color: #242424;
                        border: 0.5px solid #242424;
                        color: #A1EF00;
                        padding: 8px;
                        font-size: 13px;  
                    }
                }
                tr {
                    border: 0.5px solid ;
                    
                    td {
                        background-color: #242424;
                        border: 0.5px solid #242424;
                        color: whitesmoke;
                        padding: 8px;
                        font-size: 11px;
                        
                    }
                }
            }
                
        }

        
    }

}